body {
    background-color: #EAF6F6;
}
hr {
    border-color: gray;
    border-style: dotted none none;
    border-width: 5px;
    width: 3%;
}
h1, h2 {
    color: #66BFBF;
}
table {
    border-spacing: 20px;
}